.header-container {
  width: 100vw;
  position: fixed;
  z-index: 999;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr;
  // justify-content: center;
  background-color: $color-bg;
}

.header {
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 20px;
  letter-spacing: -0.06rem;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.nav-list_item {
  font-size: 15px;
  cursor: pointer;
  transition: all .5s ease-in;
  display: flex;
  justify-content: flex-end;
}

.nav-list_item:hover {
  opacity: .3;
}
