@import './header.scss';

@media (max-width: $xlg) {
  .nav-list_item {
    font-size: 12px;
  }
  .logo {
    font-size: 18px;
  }
} 
@media (max-width: $lg) {
  .header-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header nav {
    grid-column: 2/4;
  }
  // .headline-image {
  //   width: 17rem;
  // }
} 
@media (min-width: $xlg) {
 h1, .headline-text-title {
    font-size: 185px;
    letter-spacing: -12px;
  }
} 
@media (min-width: $xxlg) {
  
 h1, .headline-text-title {
    font-size: 220px;
    letter-spacing: -12px;
  }
} 