@import "./sass/comon/variablses.scss";
@import "./sass/comon/fonts.scss";
@import "./sass/comon/scrollbar.scss";
@import "./sass/comon/mediaqueries.scss";
@import "./sass/components/header";
@import "./sass/components/headline";
@import "./sass/components/team-section";

html {
  font-size: calc(1vw / 14.4 * 9);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: JeanLuc;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 19rem;
  letter-spacing: -0.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

body {
  font-family: Helv;
  font-size: 1.7rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-bg;
  justify-content: center;
  color: $color-white;
  overflow-x: hidden;
}

.scroll-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-self: center;
  width: 100vw;
}

.app-width {
  width: 100%;
  max-width: 1440px;
}

ul > li {
  list-style-type: none;
}

//brakepoints
@include desctopXLMin {
  h1 {
    font-size: 220px;
    letter-spacing: -12px;
  }
}
