@import "./sass/variablses.scss";
@import "./sass/header.scss";

@import "./sass/mediaqueries.scss";

@font-face {
  font-family: JeanLuc;
  src: url(./assets/fonts/JeanLuc-Bold.ttf) format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: Helvetica;
  src: url(./assets/fonts/HelveticaRegular.woff) format("woff");
  font-weight: 400;
}
html {
  font-size: calc(1vw / 14.4 * 9);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: JeanLuc;
  font-weight: 500;
}

h1 {
  font-size: 20rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}


body {
  font-family: Helvetica;
  font-size: 1.7rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-bg;
  color: $color-white;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  padding: 0 3rem;
  justify-self: center;
}

ul > li {
  // line-height: 20.7px;
  list-style-type: none;
}