@font-face {
  font-family: "JeanLuc";
  src: url("./assets/fonts/JeanLuc-Thin.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "JeanLuc";
  src: url("./assets/fonts/JeanLuc-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helv";
  src: url("./assets/fonts/HelveticaLight.ttf");
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e0e0e;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px; /* roundness of the scroll thumb */
  background: #bdff32;
  width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FCBC3A;
}

.header-container {
  width: 100vw;
  position: fixed;
  z-index: 999;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
}

.header {
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.logo {
  font-size: 20px;
  letter-spacing: -0.06rem;
}

.icon-hide {
  display: none;
}

.menu-button {
  display: none;
  align-items: center;
}
.menu-button__close {
  width: 32px;
  height: 32px;
  padding: 3px;
  stroke: #bdff32;
  cursor: pointer;
}
.menu-button__burger {
  width: 32px;
  height: 32px;
  fill: #bdff32;
  cursor: pointer;
}
.menu-button__burger:hover {
  fill: #FCBC3A;
}
.menu-button__close:hover {
  stroke: #FCBC3A;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.nav-list_item {
  font-size: 15px;
  line-height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: flex-end;
}

.nav-list_item:hover {
  color: #FCBC3A;
}

.sidebar {
  position: fixed;
  right: 0;
  z-index: 50;
  opacity: 0.9;
  width: 50%;
  height: 100vh;
  padding: 120px 24px;
  display: flex;
  justify-content: center;
  background-color: #0e0e0e;
  transform: translate(100%);
  transition: all 0.3s ease-in-out;
}

.sidebar__nav-list {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__nav-list > .nav-list_item {
  align-self: start;
}

.open {
  transform: translate(0);
}

@media screen and (max-width: 1200px) {
  .nav-list_item {
    font-size: 12px;
  }
  .logo {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .header-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header nav {
    grid-column: 2/4;
  }
  .nav-list {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .menu-button {
    display: inline-block;
  }
}
@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
.headline {
  grid-row: 1;
  max-width: 1440px;
  margin-top: 100px;
  background-color: #504f4f;
  max-width: 100%;
  height: 69rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.headline-container {
  overflow: hidden;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 8rem;
}

.headline-text {
  position: relative;
  grid-column: 2/12;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

.headline-image-wrapper {
  position: relative;
  width: 17rem;
}

.headline-image {
  position: absolute;
  z-index: 10;
  right: -1rem;
  bottom: -3em;
  width: 50em;
  max-width: 890px;
  border-radius: 10px;
}

.headline-gif {
  max-width: 100%;
}

.headline-text-subtitle {
  margin-top: 2.4rem;
  font-size: 4rem;
  text-align: center;
  width: 760px;
  max-width: 76rem;
  color: #bdff32;
  align-self: center;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .headline-text-subtitle {
    font-size: 40px;
    margin-top: 24px;
  }
  .headline-image-wrapper {
    width: 170px;
  }
  .headline-image {
    right: -10px;
    bottom: -30px;
  }
  .headline-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
  }
  .headline {
    height: 690px;
  }
}
.team-section {
  grid-row: 2;
  margin-top: 38rem;
  padding: 0 3rem;
}

.team-section__title {
  font-family: Helv;
  font-size: 11rem;
  letter-spacing: -0.4rem;
  line-height: 11rem;
  text-transform: uppercase;
}

.team-section__subtitle {
  white-space: nowrap;
  font-family: JeanLuc;
  font-size: 12rem;
  letter-spacing: -0.07rem;
  line-height: 9rem;
}

.team-section__content {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 2.3rem;
}

.team-section__content img {
  object-fit: cover;
  max-width: 100%;
}

.team-section__description {
  grid-row: 2;
  grid-column: 1;
  font-size: 2.4rem;
  color: #bdff32;
  text-transform: lowercase;
}

.team-section__img_big {
  grid-row: 3/9;
  grid-column: 1;
  background-image: url("../../../assets/img/headline_img.png");
  background-size: cover;
  border-radius: 10px;
  height: 60rem;
}

.team-section__img_small-1 {
  grid-column: 2;
  grid-row: 1/5;
  background-image: url("../../../assets/img/team-section/team_img_1.png");
  background-size: cover;
  border-radius: 10px;
}

.team-section__img_small-2 {
  grid-column: 2;
  grid-row: 5/9;
  background-image: url("../../../assets/img/team-section/team_img_2.png");
  background-size: cover;
  border-radius: 10px;
}

@media screen and (min-width: 1400px) {
  .team-section {
    margin-top: 380px;
    padding: 0 30px;
  }
  .team-section__content {
    margin-top: 16px;
    gap: 24px;
  }
  .team-section__title {
    font-size: 100px;
    letter-spacing: -4px;
    line-height: 110px;
  }
  .team-section__subtitle {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 90px;
  }
  .team-section__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .team-section__description {
    font-size: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .team-section {
    padding: 0 16px;
  }
  .team-section__description {
    font-size: 16px;
  }
  .team-section__content {
    max-height: 900rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
  .team-section__img_big {
    grid-column: 1;
    grid-row: 3;
    max-width: 100vw;
    height: 60vw;
  }
  .team-section__img_small-1 {
    grid-column: 1;
    grid-row: 4;
    max-width: 100vw;
    height: 55vw;
  }
  .team-section__img_small-2 {
    grid-column: 1;
    grid-row: 5;
    max-width: 100vw;
    height: 59vw;
  }
}
.lets-section {
  grid-row: 3;
  margin-top: 38rem;
  padding: 0 3rem;
}

.lets-section__title {
  font-family: Helv;
  font-size: 19.8rem;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
  line-height: 16rem;
}

.lets-section__subtitle {
  font-family: JeanLuc;
  font-size: 20.2rem;
  letter-spacing: -0.4rem;
  line-height: 16rem;
}

.lets-section__mix-row {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 2.4rem;
}

.lets-section__subtitle-mix {
  font-weight: bold;
}

.lets-section__description {
  margin-top: 10px;
  font-size: 4.4rem;
  color: #bdff32;
}

.lets-section__button {
  margin-top: 3rem;
}

@media screen and (min-width: 1400px) {
  .lets-section {
    margin-top: 380px;
    padding: 0 30px;
  }
  .lets-section__title {
    font-size: 198px;
    letter-spacing: -4px;
    line-height: 160px;
  }
  .lets-section__subtitle {
    font-size: 220px;
    letter-spacing: -4px;
    line-height: 170px;
  }
  .lets-section__mix-row {
    gap: 24px;
  }
  .lets-section__description {
    font-size: 44px;
    line-height: 38px;
  }
  .lets-section__button {
    margin-top: 30px;
  }
}
html {
  font-size: 0.625vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: JeanLuc;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 19rem;
  letter-spacing: -0.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

body {
  font-family: Helv;
  font-size: 1.7rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #0e0e0e;
  justify-content: center;
  color: #fff;
  overflow-x: hidden;
}

.scroll-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
}

.app-width {
  width: 100%;
  max-width: 1440px;
}

ul > li {
  list-style-type: none;
}

.app-button {
  background-color: #bdff32;
  border: none;
  display: block;
  width: 100%;
  font-family: JeanLuc;
  font-size: 4.2rem;
  letter-spacing: -0.05;
  padding: 6rem;
  border-radius: 10px;
  cursor: pointer;
}

.app-button:hover {
  background-color: #FCBC3A;
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 220px;
    letter-spacing: -12px;
  }
  .app-button {
    font-size: 42px;
    letter-spacing: -2px;
    padding: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
