@include desctopXLMin {
  .team-section {
    margin-top: 380px;
    padding: 0 30px;
  }
  .team-section__content {
    margin-top: 24px;
    max-height: 750px;
    gap: 24px;
  }
  .team-section__title {
    font-size: 100px;
    letter-spacing: -4px;
    line-height: 110px;
  }
  .team-section__subtitle {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 90px;
  }
  .team-section__description {
    font-size: 24px;
  }
}